.item {
  padding: var(--pad-md);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
}

.clickable {
  cursor: pointer;
}

.button {
  background-color: transparent;
  border: none;
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
  gap: var(--pad-md);
}

.done {
  background-color: transparent !important;
  text-decoration: line-through;
  filter: brightness(0.7);
}
