.list {
  list-style-type: none;
  max-width: 100%;
}

.header {
  background-color: var(--primary);
  padding: var(--pad-md);
  display: flex;
  gap: var(--pad-md);
  align-items: center;
}

.container {
  margin: 0;
  flex-grow: 1;
  max-width: 100%;
  background-color: var(--secondary);
}

.clickable {
  cursor: pointer;
}

.button {
  background-color: transparent;
  border: none;
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backButton {
  background-color: transparent;
  border: none;
  font-size: larger;
  display: flex;
  justify-content: center;
  padding: none;
  color: var(--foreground);
}

.input {
  background-color: transparent;
  border: none;
  color: var(--foreground);
  font-size: 1.2em;
  font-weight: 600;
  outline: none;
}

.item {
  padding: var(--pad-md);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
}
